<div class="tax-break-up" style="overflow-x: auto;">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="text-left">{{ _("Account") }}</th>
				<th class="text-left">{{ _("Taxable Amount") }}</th>
				<th class="text-left">{{ _("Tax Amount") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for account in details %}
				<tr>
					<td>{{ account }}</td>
					<td class='text-right'>
						{{ frappe.utils.fmt_money(details[account].get("taxable_amount", 0)) }}
					</td>
					<td class='text-right'>
						{{ frappe.utils.fmt_money(details[account].get("tax_amount", 0)) }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
