{% extends "templates/web.html" %}

{% block title %} {{ _(title) }} {% endblock %}

{% block header %}<h2>{{ _(title) }}</h2>{% endblock %}

{% block page_content %}
<div id="event-slots" class="frappe-card"></div>
{% endblock %}

{% block script %}
<script> {% include "templates/pages/event-slots.js" %} </script>
{% endblock %}

{% block style %}
<style>
.fc .fc-event.fc-bg-event {
	color: #fff;
	cursor: default;
}
</style>
{% endblock %}
